.menu {
  padding: 1.2rem .6rem 0 1rem;
  width: 3.6rem;
  z-index: 1301;

  // Three menu bars which toggle the menu
  .bars {
    cursor: pointer;
    position: absolute;
    width: 1.5rem;
    z-index: 1302;

    .bar {
      background: $white;
      display: block;
      height: 2px;
      transition: background .2s ease;
      width: 100%;
    }

    &:hover,
    &:focus,
    &:active {
      .bar {
        background: $white;
      }
    }

    // Apply a margin top to all bars except the first one
    .bar + .bar {
      margin-top: .33333333333333rem;
    }

    &.active {
      .bar {
        background: $gray;
      }

      #first {
        transform: translateY(7.33333333px) translateX(.1333333rem) rotate(135deg);
      }

      #second {
        transform: rotate(-135deg) translateX(-.094280904rem) translateY(.094280904rem);
      }

      #third {
        transform: translateY(-7.33333333px) translateX(.13333333rem) rotate(135deg);
      }
    }
  }
}
