@import './search';
@import './sidebar';
@import './menu';

$height: 57.19px;

// Spacer put at the top of the page to make room for the fixed navbar
// Essentially, this pushes the page content down the height of the navbar
.nav-space {
  height: $height;
  position: relative;
  width: 100%;
}

.nav {
  background: $secondary;
  border-bottom: 1px solid $border;
  box-shadow: 0 .1rem .05rem $lighter-shadow;
  color: $gray;
  display: flex;
  font-weight: bold;
  padding: 0 .5rem;
  position: fixed;
  width: 100%;
  z-index: 1299 !important; // sass-lint:disable-line no-important

  // Style the logo
  .logo {
    padding: .25rem 1rem 0;

    svg {
      height: 2.8rem;
      padding-top: .3rem;
      width: auto;
    }
  }

  // Information about the user shown to the right of the navbar
  // This includes the user's name, location, and profile picture
  // The amount of information shown depends on the width of the screen
  .user-info {
    display: flex;
    height: 57.19px;
    margin: 0;
    padding: 0;

    .user-text {
      color: $white;
      display: flex;
      flex: 1;
      padding: 1rem 0;
      text-align: right;
    }

    .user-img {
      background: $gray;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      display: inline-block;
      height: 2rem;
      margin: .8rem;
      width: 2rem;
    }

    // If the user is not signed in, then there is no information to display
    // Instead, there are links to login and register
    .sign-in-links {
      height: 100%;
      padding-left: 0;
      padding-right: 1rem;
      padding-top: 1rem;
      text-align: right;

      a {
        color: $white;
        margin-left: 1rem;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

// Hide user name when the screen is below 928px
@media screen and (max-width: 928px) {
  .nav {
    .user-info {
      .user-text {
        .name {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-device-width: 928px) {
  .nav {
    .user-info {
      .user-text {
        .name {
          display: none;
        }
      }
    }
  }
}

// Hide the user text when the screen is below 848px
@media screen and (max-width: 848px) {
  .nav {
    .user-info {
      border-right: 1px solid $border;
      display: block;
      text-align: right;

      .user-text {
        display: none;
      }
    }
  }
}

@media screen and (max-device-width: 848px) {
  .nav {
    .user-info {
      border-right: 1px solid $border;
      display: block;
      text-align: right;

      .user-text {
        display: none;
      }
    }
  }
}

// Also hide links prompting the user to login and register on smaller screens
// NOTE these links can still be accessed by toggling the side menu
@media screen and (max-width: 718px) {
  .sign-in-links {
    display: none;
  }
}

// More spacing for nav elements on larger screens
@media screen and (min-width: 1024px) {
  .nav {
    .logo {
      padding-right: 2rem;
    }

    .user-info {
      padding-left: 1rem;
    }
  }
}
