// Styling the serachbar
.search {
  background: $transparent;
  border-radius: 3px;
  display: flex;
  flex: 1;
  margin: .5rem 0;
  max-width: 100% !important; // sass-lint:disable-line no-important
  padding: .1rem .5rem;
  transition: background .2s ease;

  // Search icon to the left of the search bar
  .fa-search {
    color: $white;
    font-size: 1rem;
    padding-left: .2rem;
    padding-right: .7rem;
    padding-top: .6rem;
  }

  // Have the search bar take up the entire space it occupies
  form {
    display: block;
    width: 100%;

    .location {
      color: $white;
      font-weight: normal;
      height: 0;
      margin: 0;
      overflow: visible;
      text-align: right;
      transform: translateY(.4rem);
      transition: transform .2s ease;
    }
  }

  // Smaller icon and search bar with a shorter placeholder
  // NOTE this only displays on mobile
  .small {
    display: none !important; // sass-lint:disable-line no-important
  }

  // Styling the form control within the form
  .form-control {
    background: transparent;
    border: 0 solid !important; // sass-lint:disable-line no-important
    color: $white;
    flex: 1;
    padding-left: 0;
    padding-right: 0;

    &::-webkit-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
      color: $white;
      opacity: .7;
    }

    &::-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
      color: $white;
      opacity: .7;
    }

    &:-ms-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
      color: $white;
      opacity: .7;
    }

    &:-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
      color: $white;
      opacity: .7;
    }
  }

  // Clickable shade that renders below the navbar when the user is searching
  .search-shade {
    background: $search-bg;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 57.19px;
    width: 100%;
    z-index: -2;
  }

  &.active {
    background: $white;

    .fa-search {
      color: $gray;
    }

    .location {
      color: $dark-gray;
    }

    .form-control {
      background: transparent;
      border: 0 solid !important; // sass-lint:disable-line no-important
      color: $dark-gray;
      flex: 1;
      padding-left: 0;
      padding-right: 0;

      &::-webkit-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
        color: $gray;
      }

      &::-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
        color: $gray;
      }

      &:-ms-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
        color: $gray;
      }

      &:-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
        color: $gray;
      }
    }
  }
}

// Handle when the search is active on smaller screens
@media screen and (max-width: 648px) {
  .nav {
    .logo,
    .sidebar-wrapper,
    .user-info {
      transition: transform .4s ease, width .4s ease, padding .4s ease;
    }

    .fa-search {
      transition: transform .4s ease;
    }

    #search {
      transition: transform .4s ease;
      width: 100%;
    }

    &.search-active {
      .logo {
        transform: translateX(-5rem);
      }

      .sidebar-wrapper,
      .user-info {
        transform: translateX(5rem);
      }

      .logo,
      .sidebar-wrapper {
        padding: 0 !important; // sass-lint:disable-line no-important
        width: 0 !important; // sass-lint:disable-line no-important
      }
    }
  }
}

// Styling search suggestions
.suggestions {
  background: $white;
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;
  box-shadow: 0 .1rem .05rem $lighter-shadow;
  height: auto;
  left: 0;
  max-height: calc(92.5vh - 57.19px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  position: fixed;
  top: 57.19px;
  width: 100%;

  .col-12 {
    margin-bottom: .5rem;
  }

  // Section titles at the top of each category of search results
  // The categories are articles, listings, videos, and curators
  h4 {
    color: $dark-gray;
  }

  // Each result is a link to the corresponding content
  a {
    color: $gray;

    &:visited {
      color: $gray;
    }

    &:hover,
    &:active,
    &:focus {
      color: $dark-gray;
    }
  }
}

// Swap the placeholder on smaller screen sizes for a shorter version
//  NOTE the only way to do this is with a new input field
@media screen and (max-width: 718px) {
  .nav {
    .search {
      .small {
        display: block !important; // sass-lint:disable-line no-important
      }

      .large {
        display: none !important; // sass-lint:disable-line no-important
      }
    }
  }
}
