// Styling the sidebar which renders triggered by the navbar

#sidebar {
  // Clickable shade to the left of the triggered sidebar
  // Clicking the shade hides the sidebar
  .shade {
    background: $sidebar-bg;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1300;
  }

  // The actual sidebar with links
  #side-menu {
    background: $white;
    border-left: 1px solid $border;
    height: 100%;
    max-width: 100%;
    min-width: 20 !important; // sass-lint:disable-line no-important
    position: fixed;
    right: 0;
    top: 0;
    transition: all .4s ease; // sass-lint:disable-line no-transition-all
    z-index: 1301;
  }

  // Links contained within the sidebar
  .links {
    list-style: none;
    margin: 0;
    padding: 1rem;
    width: 100%;

    .link {
      color: $gray;
      display: block;
      font-weight: normal;
      padding: .4rem 0;
      text-align: left;
      width: 100%;

      &:hover {
        color: $dark-gray;
      }

      &:focus,
      &:active {
        color: $primary;
      }
    }
  }

  .line {
    margin: .5rem 0;
  }

  // Each individual link
  .link {
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      color: $dark-gray !important; // sass-lint:disable-line no-important
    }
  }

  .col-6 {
    padding-right: .5rem;
  }

  .col-6 + .col-6 {
    padding-left: .5rem;
    padding-right: 15px;
  }

  .profile-info {
    display: flex;

    .profile-picture {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .profile-content {
      color: $black;
      flex: 1;
      font-weight: normal;
      padding-left: 1rem;

      p {
        color: $gray-text;
        margin-bottom: .5rem;
      }

      a {
        font-size: .8rem;
        margin-right: .8rem;
      }
    }
  }
}

// Make sidebar full-screen on smaller screens

@media screen and (max-width: 448px) {
  #sidebar {
    #side-menu {
      height: 100% !important; // sass-lint:disable-line no-important
      min-width: inherit !important; // sass-lint:disable-line no-important
      overflow-x: hidden;
      overflow-y: scroll;
      width: 100% !important; // sass-lint:disable-line no-important
    }
  }
}
