#nalda-footer {
  background: $secondary;
  min-height: 130px;
  overflow: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
  z-index: 1;

  ul,
  nav {
    list-style: none !important; // sass-lint:disable-line no-important
    padding-left: 0;
  }

  .section-content {
    padding: 20px 0;
  }
}

.nalda-logo-container {
  display: block;
  height: 26px;
  margin: 0 0 30px;
  width: 100px;
}

// Style the logo
.nalda-logo {
  background-position: center center;
  background-size: 100px 26px;
  height: 26px;
  margin-right: 1rem;
  opacity: 1;
  transition: opacity .2s ease-in;
  width: 100px;

  &:hover {
    opacity: .85;
  }
}

.footer-menus,
.footer-menu-single {
  width: 100%;
}

.footer-expand-icon {
  background-size: 0;
}

.footer-flex {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer-menu-heading {
  color: $white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.footer-menu-list {
  li {
    margin-bottom: 0;

    a {
      color: $light-primary;
      font-size: 16px;

      &:hover {
        color: $lighter-primary;
      }
    }
  }
}

.footer-menu-single {
  display: inline-block;
  margin-bottom: 3em;
  vertical-align: top;
}

.footer-legal-content {
  display: block;
  width: 100%;
}

.footer-social-links {
  display: block;
  margin-top: 30px;
  vertical-align: bottom;
  width: 100%;
}

.footer-nav-item {
  display: block;
  list-style-type: none;
  padding: 0 20px 0 0;

  a {
    color: $white;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: $lighter-primary;
    }
  }
}

.footer-nav-item + .footer-nav-item {
  margin: 0 0 .3em;
}

.gf-social-item {
  display: inline-block;
  margin: 0 0 .3em;
  padding: 0 30px 0 0;

  a {
    color: $light-primary;

    &:hover {
      color: $white;
    }
  }
}

.legal-copy {
  color: $light-primary;
  font-size: 14px;
  margin: 20px 0 0;
}

// Mobile responsive footer styling
@media only screen and (max-width: 499px) {
  .footer-menu-single {
    border-top: 1px solid $alternate-light-primary;
    height: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 0;

    &.expanded {
      height: auto;

      .footer-expand-icon {
        transform: rotate(45deg);
      }
    }
  }

  .footer-expand-icon {
    background-size: 15px 15px;
    height: 15px;
    margin-top: -2rem;
    position: absolute;
    right: 1rem;
    transition: transform .1s ease-in;
    width: 15px;
  }

  .footer-menu-heading {
    margin-bottom: .5em;
  }
}

@media only screen and (min-width: 500px) {
  .footer-menu-single {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .footer-nav {
    margin-top: 40px;
  }

  .footer-nav-item {
    a {
      color: $light-primary;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-navigation {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .nalda-logo-container {
    display: inline-block;
    flex: 1;
    height: 39px;
    margin-bottom: 100px;
    margin-right: 1rem;
    width: 150px;
  }

  .nalda-logo {
    height: auto;
    width: 150px;
  }

  .footer-menus {
    display: inline-block;
    left: 100px;
    margin-bottom: 30px;
    width: calc(100% - 250px);
  }

  .footer-menu-list {
    li {
      a {
        font-size: 18px;
      }
    }
  }

  .footer-legal-content {
    display: inline-block;
    width: calc(100% - 300px);
  }

  .footer-nav-item {
    display: inline-block;
  }

  .footer-social-links {
    display: inline-block;
    margin-top: 10px;
    vertical-align: bottom;
    width: 300px;
  }

  .footer-social-icons {
    right: 0;
    text-align: right;
  }

  .gf-social-item {
    display: inline-block;
    margin: 0 0 .3em;
    padding: 0 0 0 30px;
  }
}

@media only screen and (min-width: 860px) {
  .footer-menu-single {
    width: 33%;
  }

  .legal-copy {
    font-size: 16px;
    margin: 0;
  }
}

@media only screen and (min-width: 1069px) {
  #nalda-footer {
    padding: 60px 0;
  }

  .footer-menu-single {
    width: 25%;
  }

  .footer-menus {
    left: 150px;
    margin-bottom: 30px;
    width: calc(100% - 300px);
  }
}

@media only screen and (min-width: 1280px) {
  .footer-menus {
    left: 200px;
    margin-bottom: 30px;
    width: calc(100% - 350px);
  }
}
