// Styling for all components related to articles

.article {
  margin-bottom: 1rem;
  margin-top: 1rem;

  // Titles
  .title {
    font-size: 3rem !important; // sass-lint:disable-line no-important
    font-weight: bold !important; // sass-lint:disable-line no-important
    margin-bottom: .5rem;
  }

  // Subtitles
  .subtitle {
    color: $gray;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
  }

  // Images
  img {
    margin-bottom: 1rem;
    width: 100%;
  }

  // General text styling
  p {
    line-height: 1.5;
  }

  // Styling block quotes
  .quote {
    border-left: 4px solid $light-gray;
    color: $gray;
    font-size: 1.2rem;
    font-style: italic;
    padding-left: .5rem;
  }

  // Styling headers
  .header {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1.25rem;
  }
}

// Style form for creating and editing articles
#article-form {
  .form-control {
    &.special {
      border: 0 solid transparent;
      border-left: 2px solid transparent;
      padding: 0;

      &:active,
      &:focus,
      &:hover {
        border-left: 2px solid $border;
      }
    }
  }

  // Style the title
  #title {
    color: $black;
    font-size: 2rem;
    font-weight: bold;
  }

  // Style the subtitle
  #subtitle {
    color: $dark-gray;
    font-size: 1.4rem;
    font-weight: bold;
  }

  // Style images
  img {
    margin-bottom: .5rem;
    width: 100% !important; // sass-lint:disable-line no-important
  }

  // Style blockquote components
  .quote {
    border-left: 4px solid $border !important; // sass-lint:disable-line no-important
    color: $gray;
    font-size: 1.2rem;
    font-style: italic;
    padding-left: 1rem !important; // sass-lint:disable-line no-important
  }

  // Style headers
  .header {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
