/**
 * Styling article previews
 */
.article-preview-wrapper {
  width: 100%;
  display: inline-block;
	clear: none;
	margin: 0rem 0rem 1rem 0rem;
	vertical-align: top;
}

@media screen and (min-width: 720px) {
  .article-preview-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .article-preview-wrapper {
    width: 33.3333%;
  }
}

@media screen and (min-width: 1500px) {
  .article-preview-wrapper {
    width: 25%;
  }
}

.article-preview {
  height: 60vh;
  overflow-y: hidden;
  color: white;
  width: calc(100% - 10px) !important;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  vertical-align: bottom;

  .content {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    padding: 1rem;
    vertical-align: bottom;

    h4, p {
      width: 100%;
      display: block;
      color: white;
      margin-bottom: 0.4rem;
    }

    p {
      margin-bottom: 0rem;
    }

    h4 {
      font-size: 18px;
      margin-top: auto;
    }
  }
}
