// Styling article previews

.article-preview-wrapper {
  clear: none;
  display: inline-block;
  margin: 0 0 1rem;
  vertical-align: top;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .article-preview-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .article-preview-wrapper {
    width: 33.3333%;
  }
}

@media screen and (min-width: 1500px) {
  .article-preview-wrapper {
    width: 25%;
  }
}

.article-preview {
  background-color: $article-preview-bg;
  color: $white;
  height: 60vh;
  margin: 0 auto;
  margin-bottom: 1rem;
  overflow-y: hidden;
  vertical-align: bottom;
  width: calc(100% - 10px) !important; // sass-lint:disable-line no-important

  .content {
    background: $article-preview-bg;
    background: linear-gradient(transparent, $article-preview-bg-dark); // sass-lint:disable-line no-duplicate-properties
    height: 100%;
    padding: 1rem;
    vertical-align: bottom;
    width: 100%;

    h4,
    p {
      color: $white;
      display: block;
      margin-bottom: .4rem;
      width: 100%;
    }

    p {
      margin-bottom: 0;
    }

    h4 {
      font-size: 18px;
      margin-top: auto;
    }
  }
}
