@keyframes loading {
  0% {
    background-color: $light-gray;
  }

  50% {
    background-color: $lighter-gray;
  }

  100% {
    background-color: $light-gray;
  }
}

#banner-carousel {
  &.hidden {
    opacity: 0;
  }

  .banner-item {
    outline: 0 !important; // sass-lint:disable-line no-important
    padding: 1rem;

    .background-image {
      box-shadow: 0 .2rem .5rem $shadow;
      height: auto;
      padding-top: 56.25%;
      width: 100%;

      &.is-loading {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: loading;
        background: $light-gray;
        box-shadow: 0 .2rem .5rem $light-shadow;
      }
    }
  }

  .slick-list {
    overflow-y: visible;
  }
}

@media screen and (max-width: 492px) {
  #banner-carousel {
    .banner-item {
      padding: 1rem .5rem;
    }
  }
}

button {
  &.slick-arrow {
    background: transparent;
    border: 0;
    box-shadow: 0;
    color: $gray-text;
    cursor: pointer;
    font-size: .8rem;
    margin: 0 .5rem;
    opacity: .75;
    padding: 0;
    position: absolute;
    top: calc(100% - .5rem);
    z-index: 2;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }

    &.slick-next {
      right: 0;

      &::after {
        content: '\00A0\2192'; // Space with right-facing arrow
      }
    }

    &.slick-prev {
      left: 0;

      &::before {
        content: '\2190\00A0'; // Space with left-facing arrow
      }
    }
  }
}

#carousel {
  img {
    box-shadow: 0 .1rem .4rem $light-shadow;
    height: 50vh;
    margin: 0 1rem 1rem;
    opacity: .6;
    transition: opacity .3s ease;
    width: auto;

    &.slick-active {
      opacity: 1;
    }
  }
}
