.requirements {
  background: $light-gray;
  border-radius: .4rem;
  margin: 1rem 0 2rem;
  padding: 1rem;
  white-space: pre-wrap;
}

.event {
  color: $dark-gray;

  .parallax-wrapper {
    height: 52vh;
    overflow: hidden;
    width: 100%;

    .img {
      height: auto;
      min-height: 68vh;
      min-width: 100%;
    }
  }

  // Style timstamp for the listing
  .timestamp {
    color: $gray;
    font-size: .8rem;
    font-style: italic;
  }

  .preview {
    height: 40vh;
    width: 100%;
  }

  .website {
    margin-bottom: .5rem;
  }

  p {
    margin-bottom: 5rem;
  }

  .table {
    font-size: .8rem;

    td {
      padding: .25rem .5rem;
    }
  }

  .content {
    margin-top: 1.5rem;

    .title {
      font-weight: bold;
      margin-bottom: 0;
    }

    .subtitle {
      font-weight: bold;
    }

    .amenity {
      margin-bottom: .5rem;

      &.no-icon {
        margin-left: 22px;
      }

      svg {
        height: auto;
        margin-right: 6px;
        opacity: .9;
        transform: translateY(2px);
        width: 16px;
      }
    }
  }
}
