// Styling for the homepage

@keyframes loading {
  0% {
    background-color: $light-gray;
  }

  50% {
    background-color: $lighter-gray;
  }

  100% {
    background-color: $light-gray;
  }
}

// Styling home sections in general
.home-section {
  padding: 1.5rem 0;

  .home-section-title {
    color: $black;
    font-size: 24px;
    letter-spacing: -.5px;
    margin-bottom: .5rem;
  }

  .home-section-subtitle {
    color: $gray-text;
    font-size: 16px;
  }

  a {
    &.view-all-link {
      color: $gray;
      position: absolute;
      right: 0;

      &:hover,
      &:active,
      &:focus {
        color: $dark-gray;
      }
    }
  }

  &.is-loading {
    .home-section-title,
    .home-section-subtitle,
    .home-categories span { // sass-lint:disable-line force-element-nesting
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: loading;
      background: $light-gray;
      border-radius: 4px;
      display: block;
    }

    .home-section-title {
      height: 35px;
      width: 40%;
    }

    .home-section-subtitle {
      height: 24px;
      width: 25%;
    }

    .home-categories {
      span {
        height: 24px;
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-section {
    .home-section-title {
      font-size: 32px;
      letter-spacing: -1px;
    }
  }
}

// Styling categories
.home-categories {
  align-items: flex-start;
  color: $gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;

  li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: .8rem;
    width: 100%;

    a {
      border-top: 1px solid $solid-border;
      display: block;
      padding-top: 1rem;
      width: 90%;

      .img {
        background: $light-gray;
        border-radius: 50%;
        height: 24px;
        position: absolute;
        width: 24px;
      }

      span {
        color: darken($gray, 5%);
        margin-left: 2rem;
      }

      &:hover,
      &:active,
      &:focus {
        .img {
          background: darken($light-gray, 5%);
        }

        span {
          color: $dark-gray;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-categories {
    li {
      width: 33.333%;
  	}
  }
}

@media only screen and (min-width: 1069px) {
  .home-categories {
    li {
      width: 25%;
  	}
  }
}

.inline-header-link {
  width: 100%;

  h4 {
    display: inline-block;
  }

  a {
    color: $gray;
    display: inline-block;
    float: right;
    transition: color .2s ease;

    &:hover {
      color: $dark-gray;
    }
  }
}

@media screen and (min-width: 748px) and (min-device-width: 748px) {
  .home-categories {
    .category {
      display: inline-block;
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) and (min-device-width: 1024px) {
  .home-categories {
    .category {
      display: inline-block;
      width: 33%;
    }
  }
}

// Conditional rendering of different content
@media only screen and (max-width: 767px) {
  .grid-item-5,
  .grid-item-6,
  .grid-item-7,
  .grid-item-8 {
    display: none !important; // sass-lint:disable-line no-important
  }
}

@media only screen and (min-width: 768px) and (max-width: 1068px) {
  .grid-item-7,
  .grid-item-8 {
    display: none !important; // sass-lint:disable-line no-important
  }
}

@media only screen and (min-width: 1500px) {
  .grid-item-6,
  .grid-item-7,
  .grid-item-8 {
    display: none !important; // sass-lint:disable-line no-important
  }
}
