/**
 * Styling for the homepage
 */

// Styling home sections in general
.home-section {
  padding: 1.5rem 0rem;

  .home-section-title {
    letter-spacing: -0.5px;
    font-size: 24px;
    margin-bottom: 0.5rem;
    color: black;
  }

  .home-section-subtitle {
    color: $gray-text;
    font-size: 16px;
  }

  a.view-all-link {
    color: $gray;
    position: absolute;
    right: 0;

    &:hover,
    &:active,
    &:focus {
      color: $dark-gray;
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-section .home-section-title {
    font-size: 32px;
    letter-spacing: -1px;
  }
}

// Styling categories
.home-categories {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  list-style: none;
  color: $gray;
  display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;

  li {
    list-style-type: none;
  	display: inline-block;
  	width: 100%;
  	margin-bottom: 0.8rem;

    a {
      display: block;
      width: 90%;
      border-top: 1px solid #e4e4e4;
      padding-top: 1rem;

      &:hover,
      &:active,
      &:focus {
        color: $dark-gray;
      }

      .img {
        width: 24px;
      	height: 24px;
      	border-radius: 50%;
        position: absolute;
        border-radius: 50%;
        background: $light-gray;
      }

      span {
        color: $gray;
        margin-left: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
	.home-categories li {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1069px) {
	.home-categories li {
		width: 25%;
	}
}

.inline-header-link {
  width: 100%;

  h4 {
    display: inline-block;
  }

  a {
    float: right;
    display: inline-block;
    color: $gray;
    transition: all 0.2s ease;

    &:hover {
      color: $dark-gray;
    }
  }
}

@media screen and (min-width: 748px) and (min-device-width: 748px) {
  .home-categories .category {
    display: inline-block;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) and (min-device-width: 1024px) {
  .home-categories .category {
    display: inline-block;
    width: 33%;
  }
}

// Conditional rendering of different content
@media only screen and (max-width: 767px) {
	.grid-item-5, .grid-item-6, .grid-item-7, .grid-item-8 {
		display: none !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1068px) {
	.grid-item-7, .grid-item-8 {
		display: none !important;
	}
}

@media only screen and (min-width: 1500px) {
	.grid-item-6, .grid-item-7, .grid-item-8 {
		display: none !important;
	}
}
