// Styling the listing preview which shows up to the right of listing info
// on larger screens and fixed at the bottom of the screen on smaller screens
.listing-preview {
  top: 0;
  transition: top .2s ease;

  .title {
    margin-bottom: .5rem !important; // sass-lint:disable-line no-important
  }

  .info-trigger {
    color: $gray;
    cursor: pointer;
    font-size: 1.8rem;
    position: absolute;
    right: 1rem;
    transition: transform .2s ease;

    &:hover,
    &:focus,
    &:active {
      color: $dark-gray;
    }

    &.active {
      transform: rotate(180deg);
    }
  }

  .card {
    padding: 1rem;
  }
}

@media screen and (min-width: 993px) and (min-device-width: 993px) {
  .listing-preview {
    top: 0 !important; // sass-lint:disable-line no-important
  }
}

// Listing preview is fixed-position at the bottom on smaller screens
@media screen and (max-width: 992px) {
  .listing-preview {
    left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 12;

    .title {
      text-overflow: ellipsis;
    }

    .card {
      border-bottom: 0 solid transparent;
      border-left: 0 solid transparent;
      border-radius: 0;
      border-right: 0 solid transparent;
      box-shadow: 0 -.1rem .05rem $lighter-shadow;
    }
  }
}

// Scale down title font on smaller screens
@media screen and (max-width: 748px) {
  .listing-preview {
    .title {
      font-size: 1.8rem;
      margin-bottom: .7rem;
      margin-top: .2rem;
    }
  }
}
