// Styling for all components related to listings

.listing {
  color: $dark-gray;

  .parallax-wrapper {
    height: 52vh;
    overflow: hidden;
    width: 100%;

    .img {
      height: auto;
      min-height: 68vh;
      min-width: 100%;
    }
  }

  // Style timstamp for the listing
  .timestamp {
    color: $gray;
    font-size: .8rem;
    font-style: italic;
  }

  .nalda-favorite {
    background: $light-gray;
    border-radius: .4rem;
    margin: 1rem 0 2rem;
    padding: 1rem;
  }

  .preview {
    height: 40vh;
    width: 100%;
  }

  .website {
    margin-bottom: .5rem;
  }

  p {
    margin-bottom: .5rem;
  }

  .table {
    font-size: .8rem;

    td {
      padding: .25rem .5rem;
    }
  }

  .content {
    margin-top: 1.5rem;

    .title {
      font-weight: bold;
      margin-bottom: 0;
    }

    .subtitle {
      font-weight: bold;
    }

    .amenity {
      margin-bottom: .5rem;

      &.no-icon {
        margin-left: 22px;
      }

      svg {
        height: auto;
        margin-right: 6px;
        opacity: .9;
        transform: translateY(2px);
        width: 16px;
      }
    }
  }
}

// Style stars for rating
.rating {
  color: $light-gray;
  display: inline-block;
  margin-bottom: 0;
  width: auto;

  .fa {
    margin-right: .25rem;

    &.full {
      color: $gold;
    }

    &.fa-star-half {
      position: absolute;
      transform: translate(-1.48rem, .3rem);
    }
  }

  p {
    color: $gray;
    display: inline-block;
    margin-left: .5rem;
  }
}

// Styling the form for amenities for listings in the ListingForm component
.amenities-form,
.categories-form {
  .bold {
    color: $gray;
    cursor: auto;
    margin-bottom: .2rem;
    margin-top: .8rem;
    text-decoration: none;
    width: 100%;
  }

  p {
    color: $gray;
    cursor: pointer;
    margin-bottom: .2rem;
    text-decoration: line-through;
    width: 100%;

    img,
    svg {
      height: auto;
      margin-right: 6px;
      opacity: .4;
      width: 16px;
    }

    &.active {
      color: $dark-gray;
      text-decoration: none;

      img,
      svg {
        opacity: 1;
      }
    }
  }
}

// Styling category tags
.categories,
.tags {
  margin-bottom: .1rem;

  .category,
  .tag {
    background: $light-gray;
    border-radius: .2rem;
    display: inline-block;
    font-size: .8rem;
    margin-bottom: .4rem;
    margin-right: .4rem;
    padding: .2rem .4rem;
    width: auto;
  }

  &.big {
    .category,
    .tag {
      font-size: 1rem;
    }
  }
}

// Style list of carousel previews
ul {
  &.carousel-preview {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 1rem;

      img {
        border-radius: .2rem;
        height: 3rem;
      }

      .fa {
        color: $gray;

        &:hover,
        &:focus,
        &:active {
          color: $dark-gray;
        }
      }
    }
  }
}
