// Styling display of videos

.video {
  iframe {
    margin-bottom: .5rem;
    margin-top: 1.5rem;
    max-height: 100vh;
    min-height: 60vh;
    width: 100%;
  }

  .title {
    font-weight: bold;
  }
}
