/**
 * Color palette for all styles in the application
 */

// Shades of gray
$transparent: rgba(255, 255, 255, 0.3);
$lighter-gray: #f7f7f7;
$light-gray: #efefef;
$gray: #BEBEBE;
$dark-gray: #606060;
$darker-gray: #4c4c4c;
$border: rgba(0, 0, 0, 0.1);
$gray-text: #888;

// Primary colors
$alternate-light-primary: #3377a1;
$lighter-primary: #d6dde2;
$light-primary: #afdcf8;
$primary: #66ccff;
$dark-primary: #54b0dd;
$secondary: #004976;

// Additional colors
$gold: #ffd633;

/**
 * Styles and modular classes relating to the colors defined above
 */

// Modular class to make some text gray
.gray {
  color: $gray !important;
}

// Modular class to style text in the primary color
.primary-text {
  color: $primary !important;
}

// Modular class to style text gray
.gray-text {
  color: $gray !important;
}

// Modular class to style text dark gray
.dark-gray-text {
  color: $dark-gray !important;
}
