// Overwriting the default bootstrap container to be more full-width
.container {
	width: calc(100% - 48px);
	margin: 0 auto;
	padding: 0;
}

@media only screen and (max-width: 492px) {
  .container {
    width: calc(100% - 36px);
  }
}

// Adjust margins depending on the screen size
@media only screen and (min-width: 768px) {
	.container {
		width: calc(100% - 72px);
		margin: 0 auto;
    padding: 0;
	}
}

@media only screen and (min-width: 1069px) {
	.container {
		width: calc(100% - 160px);
		margin: 0 auto;
    padding: 0;
	}
}
