// Overwriting the default bootstrap container to be more full-width
.container {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 48px);
}

@media only screen and (max-width: 492px) {
  .container {
    width: calc(100% - 36px);
  }

  .full-width-mobile {
    margin-left: -18px;
    margin-right: -18px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: calc(100% - 36px);
  }

  .full-width-mobile {
    margin-left: -24px;
    margin-right: -24px;
  }
}

// Adjust margins depending on the screen size
@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 72px);
  }
}

@media only screen and (min-width: 1069px) {
  .container {
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 160px);
  }
}
