$font: -apple-system, BlinkMacSystemFont, Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;

// Setting the fonts for the application
body,
.form-control {
  font-family: $font;
}

// Subtitles are the lighter font as well
.subtitle {
  font-family: $font;
  font-weight: 400;
}

// Using a stronger font on all headers, titles
h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-family: $font;
  font-weight: bold;
}
