// Import all other files
// NOTE the ordering of these imports is IMPORTANT: later styles use variables
// and overwrite more general styles applied earlier
@import './strapper';
@import './colors';
@import './fonts';
@import './form';
@import './notification';
@import './button';
@import './modal';
@import './container';
@import './image';
@import './links';
@import './loading';
@import './not-found';
@import './line';
@import './tabs';
@import './map';
@import './sort';

// Hide overflow for body
html,
body {
  max-width: 100%;
  overflow-x: hidden !important; // sass-lint:disable-line no-important
  width: 100%;
}

// Make each page take up the full-height of the screen (at least)
.app-content {
  margin: 0 !important; // sass-lint:disable-line no-important
  min-height: calc(100vh - 56.27px);
  overflow-x: hidden !important; // sass-lint:disable-line no-important
  padding: 0 !important; // sass-lint:disable-line no-important
  width: 100% !important; // sass-lint:disable-line no-important
}
