@import './strapper';
@import './colors';
@import './fonts';
@import './form';
@import './notification';
@import './button';
@import './modal';
@import './container';
@import './image';
@import './links';
@import './loading';
@import './not-found';
@import './line';
@import './tabs';
@import './map';
@import './sort';

// Hide overflow for body
html, body {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden !important;
}

// Make each page take up the full-height of the screen (at least)
.app-content {
  min-height: calc(100vh - 56.27px);
  width: 100% !important;
  overflow-x: hidden !important;
  margin: 0rem !important;
  padding: 0rem !important;
}
