// Style the loading circle used on a wide variety of pages when content is
// pending arrival from the database
.loading {
  padding: 1rem 0;
  text-align: center;
  width: 100%;

  .loader {
    animation: right 2s infinite linear;
    border-bottom: 6px solid $light-gray;
    border-left: 6px solid transparent;
    border-radius: 50%;
    border-right: 6px solid $light-gray;
    border-top: 6px solid transparent;
    display: inline-block;
    height: 4rem;
    width: 4rem;

    &.reverse {
      animation: right 1s infinite linear;
      position: absolute;
      transform: translateX(-4rem);
    }
  }
}

// Transition to rotate an item smoothly clockwise
@keyframes right {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Transition to rotate an item smoothly counter-clockwise
@keyframes left {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
