// Style modals

.fade-wrapper {
  background-color: $modal-bg;

  // If the modal is a form, as is the case with login / register modal
  .form {
    .modal-header {
      padding: 2rem 2rem 1rem;
    }

    .modal-footer {
      padding: 1rem 2rem 2rem;
    }

    .modal-body {
      font-size: 1.2rem;
      padding: 1rem 2rem;

      .alert {
        font-size: 1rem;
      }

      .form-control {
        border-width: 2px;
        padding: .75rem;

        &:hover {
          & + .in-input {
            color: $gray;
          }
        }

        &:active,
        &:focus {
          & + .in-input {
            color: $primary;
          }
        }
      }

      .in-input {
        color: $border;
        font-size: 1.4rem;
        margin-top: .75rem;
        position: absolute;
        right: 3rem;
        transform: translateY(-4rem);
        transition: transform .2s ease;
      }

      .btn {
        font-size: 1rem;
        padding: .75rem;
      }
    }
  }

  .modal-content {
    border: 0 solid transparent;
    border-radius: 0;
    box-shadow: 0 28px 72px $shadow;
    margin-top: 6rem;

    .modal-header {
      border-bottom: 1px solid $border;
      color: $black;
    }

    .modal-footer {
      border-top: 1px solid $border;
      color: $black;
    }

    button {
      &.close {
        border: 1px solid $gray;
        border-radius: 50%;
        outline: 0 !important; //sass-lint:disable-line no-important
        padding: .3rem;
        transition: transform .2s ease;

        .bars {
          display: block;
          height: .56568rem;
          transform: translateY(.27rem) translateX(-.12rem);
          width: .56568rem;
        }

        .bar {
          background: $gray;
          display: block;
          height: 1px;
          position: absolute;
          transition: transform .2s ease;
          width: .8rem;

          &:first-child {
            transform: rotate(45deg);
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }

        &:hover {
          border: 1px solid $dark-gray;

          .bar {
            background: $dark-gray;
          }
        }

        &:active,
        &:focus {
          border: 1px solid $dark-gray;

          .bar {
            background: $dark-gray;
          }
        }
      }
    }
  }
}

// Make the modal full-screen on larger screens
@media screen and (max-width: 648px) {
  .fade {
    .modal-dialog {
      margin: 0;
      min-height: 100%;

      .modal-content {
        margin-top: 0;
        min-height: 100vh;
        width: 100%;
      }
    }
  }
}
