// Transition for the not found page to rotate in an erratic manner
@keyframes lost {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-50deg);
  }

  50% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// Style compass for not found page
.not-found-compass {
  padding-bottom: 1rem;
  text-align: center;

  img {
    animation: lost 2s infinite ease-in;
    width: 50%;
  }
}
