// Styling flash notifications

.notification {
  position: fixed;
  right: 1rem;
  top: 4.6rem;
  transition: right .2s ease;
  z-index: 10;

  &.hidden {
    right: -50vh;
  }

  .alert {
    border-width: 2px;
    box-shadow: 0 .1rem .15rem $lighter-shadow;

    p {
      margin-bottom: 0;
    }
  }
}

.alert {
  border-width: 2px;
}
