// Style sorting options

.sort-options {
  margin-bottom: 1rem;
  width: 100%;

  .sort-option {
    color: $gray;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    min-width: 9rem;
    opacity: .5;
    padding: 0 .5rem;

    .fa {
      margin-left: .25rem;
      transition: transform .2s ease;

      &.rotated {
        transform: rotate(180deg) translateY(-.2rem);
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      opacity: 1;
    }
  }
}
