/**
 * Style sorting options
 */
.sort-options {
  width: 100%;
  margin-bottom: 1rem;

  .sort-option {
    font-weight: bold;
    display: inline-block;
    padding: 0rem 0.5rem;
    color: $gray;
    opacity: 0.5;
    min-width: 9rem;
    cursor: hand;
    cursor: pointer;

    .fa {
      margin-left: 0.25rem;
      transition: all 0.2s ease;

      &.rotated {
        transform: rotate(180deg) translateY(-0.2rem);;
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      opacity: 1;
    }
  }
}
