// Styling the tabs at the top of content creation pages
// ListingForm
// ArticleForm
// VideoForm

.tabs {
  border-bottom: 1px solid $border;
  display: flex;
  width: 100%;

  .tab {
    color: $gray;
    flex: 1;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5rem 1rem;
    text-align: center;
    transition: color .2s ease, border-bottom .2s ease;

    &:hover {
      border-bottom: 4px solid $border;
      color: $dark-gray;
    }

    &.active {
      background: $white;
      border-bottom: 4px solid $primary !important; // sass-lint:disable-line no-important
      color: $black;
    }
  }
}
