// Styling for the admin panel

.admin-sidebar {
  background: $lighter-gray;
  border-right: 1px solid $border-light;
  box-shadow: .1rem 0 .1rem $lighter-shadow;
  padding: 0;

  // Style links in the admin sidebar
  .link {
    border-bottom: 1px solid $border-light;
    color: $dark-gray;
    cursor: pointer;
    display: block;
    padding: .75rem 1rem;
    transition: background .2s ease;
    width: 100%;

    &:hover {
      background: $light-gray;
    }

    &:active,
    &:focus,
    &.active {
      background: darken($light-gray, 1%) !important; // sass-lint:disable-line no-important
    }
  }
}

// The sidebar should take up at least the full height on wider screens
@media screen and (min-width: 768px) and (min-device-width: 768px) {
  .admin-sidebar {
    min-height: 100vh;
  }
}

// Style tables used in the admin panel
.table {
  border: 1px solid $border;

  // Give the head a darker color
  thead {
    background: darken($lighter-gray, 1.5%);
  }

  // Give every other row a slightly darker color
  tbody {
    tr {
      &:nth-child(even) {
        background: lighten($lighter-gray, 1%);
      }
    }
  }

  // Style icons used in tables
  .fa-close {
    color: $gray;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $dark-gray;
    }
  }
}
