/**
 * Styling for the admin panel
 */
.admin-sidebar {
  background: $lighter-gray;
  padding: 0rem;
  box-shadow: 0.1rem 0rem 0.1rem rgba(0, 0, 0, 0.025);
  border-right: 1px solid rgba(0, 0, 0, 0.05);

  // Style links in the admin sidebar
  .link {
    width: 100%;
    display: block;
    padding: 0.75rem 1rem;
    color: $dark-gray;
    cursor: hand;
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:hover {
      background: $light-gray;
    }

    &:active,
    &:focus,
    &.active {
      background: darken($light-gray, 1%) !important;
    }
  }
}

// The sidebar should take up at least the full height on wider screens
@media screen and (min-width: 768px) and (min-device-width: 768px) {
  .admin-sidebar {
    min-height: 100vh;
  }
}

// Style tables used in the admin panel
.table {
  border: 1px solid $border;

  // Give the head a darker color
  thead {
    background: darken($lighter-gray, 1.5%);
  }

  // Give every other row a slightly darker color
  tbody {
    tr:nth-child(even) {
      background: lighten($lighter-gray, 1%);
    }
  }

  // Style icons used in tables
  .fa-close {
    cursor: hand;
    cursor: pointer;
    color: $gray;

    &:hover,
    &:focus,
    &:active {
      color: $dark-gray;
    }
  }
}
