/**
 * Styling author info
 */
.author {
  width: 100%;
  padding: 1rem 0rem;
  display: block;
  display: flex;

  .author-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: $gray;
    display: inline-block;
    margin-right: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text {
    flex: 1;
    display: inline-block;
    margin-bottom: 0rem;
    margin-left: 0.2rem;

    a.name {
      margin-top: 0.3rem;
      font-weight: bold;
      margin-bottom: 0;

      &.no-timestamp {
        margin-top: 0.8rem;
        display: block;
      }
    }
  }
}
