// Styling profile page

.profile-wrapper {
  .profile {
    display: flex;

    .profile-picture {
      background: $gray;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      height: 4rem;
      margin-right: 1rem;
      width: 4rem;
    }

    .profile-content {
      flex: 1;

      p {
        margin-bottom: .5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Make the profile picture less wide on smaller screens
@media screen and (max-width: 448px) {
  .profile-wrapper {
    .profile {
      .profile-picture {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}

// Styling relating to account information on the edit account page
.account {
  &.table {
    font-size: .8rem;

    .fa {
      color: $gray;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: $dark-gray;
      }
    }

    .profile-picture {
      background: $gray;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
    }
  }
}
