/**
 * Styling for acount pages
 */
.save-changes {
  position: fixed;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0;
  padding: 0.75rem 1rem;
  padding-top: 1px solid $border;
  box-shadow: 0rem -0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  z-index: 10;
  text-align: center;
  background: white;

  .btn {
    margin: 0 0.5rem;
  }
}
