/**
 * Styling for the admin panel
 */
.admin-sidebar {
  background: $lighter-gray;
  padding: 0rem;
  min-height: 100vh;

  .link {
    width: 100%;
    padding: 0.75rem 1rem;
    color: $dark-gray;
    cursor: hand;
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:hover,
    &:active,
    &:focus {
      background: $light-gray;
    }
  }
}
