/**
 * Styling for all components related to articles
 */
.article {
  margin-top: 1rem;
  margin-bottom: 1rem;

  // Titles
  .title {
    font-weight: bold !important;
    font-size: 3rem !important;
    margin-bottom: 0.5rem;
  }

  // Subtitles
  .subtitle {
    font-weight: bold;
    color: $gray;
    font-style: italic;
    margin-bottom: 0rem;
  }

  // Images
  img {
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    width: 100%;
  }

  // General text styling
  p {
    line-height: 1.5;
  }

  // Styling block quotes
  .quote {
    color: $gray;
    font-style: italic;
    border-left: 4px solid $light-gray;
    padding-left: 0.5rem;
    font-size: 1.2rem;
  }
}
