/**
 * Import SCSS files for specific components of the applciation
 */
@import './general/general';
@import './nav/nav';
@import './content/content';
@import './user/user';
@import './footer/footer';

/**
 * General styles relevant to the whole application
 * Keep all other styles modular and import into this file
 * This file is what is included in every page on the application
 */

// Fix z-index of google places recommendations in modals
.pac-container {
  z-index: 10000 !important;
}

// Styling cards used throughout the app
.card {
  background: white;
  border: 0px solid transparent;

  &.border {
    border: 1px solid $border;
  }
}

.border {
  border: 1px solid $border;
}

.text-segment {
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
  display: flex;

  p {
    background: white;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 0rem;
    padding: 0rem 0.5rem;
    width: auto;
    display: inline-block;
    z-index: 10;
  }

  .line-through {
    flex: 1;
    background: $border;
    height: 1px;
    margin-top: 0.7rem;
  }
}

// Styling all listing-related display pages
.home {
  margin-bottom: 2rem;

  .title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .section-title {
    color: $dark-gray;
  }
}

// Modular class for left-justified button groups
.buttons {
  .btn {
    margin-right: 0.5rem;
  }
}

/**
 * Styling relating to account information
 */
.account.table {
  font-size: 0.8rem;

  .fa {
    color: $gray;
    cursor: hand;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $dark-gray;
    }
  }
}

.normal-bold {
  font-size: 1rem !important;
}

.p-formatted {
	white-space: pre-wrap;
}
