// Import SCSS files for specific components of the applciation
@import './general/general';
@import './nav/nav';
@import './content/content';
@import './user/user';
@import './footer/footer';

// General styles relevant to the whole application
// Keep all other styles modular and import into this file
// This file is what is included in every page on the application

// Fix z-index of google places recommendations in modals
.pac-container {
  z-index: 10000 !important; // sass-lint:disable-line no-important
}

// Styling cards used throughout the app
.card {
  background: $white;
  border: 0 solid transparent;

  &.border {
    border: 1px solid $border;
  }
}

.border {
  border: 1px solid $border;
}

.text-segment {
  display: flex;
  padding: 1rem 0;
  text-align: center;
  width: 100%;

  p {
    background: $white;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0 .5rem;
    width: auto;
    z-index: 10;
  }

  .line-through {
    background: $border;
    flex: 1;
    height: 1px;
    margin-top: .7rem;
  }
}

// Styling all listing-related display pages
.home {
  margin-bottom: 2rem;

  .title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .section-title {
    color: $dark-gray;
  }
}

// Modular class for left-justified button groups
.buttons {
  .btn {
    margin-right: .5rem;
  }
}

// Styling relating to account information
.account {
  &.table {
    font-size: .8rem;

    .fa {
      color: $gray;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: $dark-gray;
      }
    }
  }
}

.normal-bold {
  font-size: 1rem !important; // sass-lint:disable-line no-important
}

.p-formatted {
  white-space: pre-wrap;
}
