/**
 * Import SCSS files for specific components of the applciation
 */
@import './colors';
@import './strapper';
@import './nav';
@import './footer';
@import './article';
@import './listing';

/**
 * General styles relevant to the whole application
 * Keep all other styles modular and import into this file
 * This file is what is included in every page on the application
 */

// Setting the fonts for the application
body,
.form-control {
  font-family: 'adelle-sans', sans-serif;
}

// Subtitles are the lighter font as well
.subtitle {
  font-family: 'adelle-sans', sans-serif !important;
  font-weight: 400;
}

// Using a stronger font on all headers, titles
h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-family: 'adelle-sans', sans-serif;
  font-weight: 600;
}

// Modular class to make some text gray
.gray {
  color: $gray !important;
}

// Modular class to style text in the primary color
.primary-text {
  color: $primary !important;
}

// Modular class to style text dark gray
.dark-gray-text {
  color: $dark-gray !important;
}

// Style placeholders as gray (a lighter color than the default)
.form-control {
  &::-webkit-input-placeholder {
    color: $gray;
  }

  &::-moz-placeholder {
    color: $gray;
  }

  &:-ms-input-placeholder {
    color: $gray;
  }

  &:-moz-placeholder {
    color: $gray;
  }
}

// Make each page take up the full-height of the screen (at least)
.app-content {
  min-height: calc(100vh - 56.27px);
  width: 100%;
  margin: 0rem !important;
  padding: 0rem !important;
}

// Modular class for letting background images display optimally on all sizes
.background-image {
  width: 100%;
  background-size: cover;
  background-repeat: none;
  background-position: center;

  &.background-fixed {
    background-attachment: fixed;
  }
}

// On phones, parallax scrolling is buggy
// Thus, we disable the parallax scrolling for smaller screen sizes
@media screen and (max-device-width: 848px) {
  .background-image.background-fixed {
    background-attachment: inherit;
  }
}

// Make buttons clickable with bold text
.btn {
  cursor: hand;
  cursor: pointer;
  font-weight: bold;
  border: 0px solid transparent;

  &.full-width {
    width: 100%;
  }

  &.btn-primary {
    background: $primary;

    &:hover,
    &:active,
    &:focus {
      background: $dark-primary;
    }

    .fa-chevron-left {
      transition: all 0.2s ease;
      margin-right: 0.5rem;
    }

    .fa-chevron-right {
      transition: all 0.2s ease;
      margin-left: 0.5rem;
    }

    &:hover,
    &:focus,
    &:active {
      .fa-chevron-left {
        transform: translateX(-0.2rem);
      }

      .fa-chevron-right {
        transform: translateX(0.2rem);
      }
    }
  }

  &.btn-secondary {
    font-weight: normal;
    color: $primary;
    border: 1px solid $primary;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      color: $dark-primary;
      border: 1px solid $dark-primary;
    }
  }
}

// Modular helper class to denote that the element is clickable
.cursor {
  cursor: hand;
  cursor: pointer;
}

// Remove underline on all anchor tags
a {
  text-decoration: none !important;
  color: $secondary;

  &:active,
  &:focus,
  &:hover {
    color: $dark-secondary;
  }

  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: none !important;
  }
}

// Line class
.line {
  width: 100%;
  height: 1px;
  background: $border;
  margin: 1.5rem 0rem;
}

// Styling for thin forms used throughout the application
// For example, this is used for login and register forms
.thin-form {
  padding: 1rem;
  margin: 1.5rem 0rem;
  background: white;
  border: 1px solid $border;
  border-radius: 0.4rem;

  // Make it such that you can't drag textareas to greater lengths
  // Textareas should expand automatically due to autosize
  textarea {
    resize: none;
  }

  &.no-pad {
    padding: 0rem;
  }

  // Labels above input fields
  label {
    font-weight: bold;
    color: $dark-gray;
    margin-bottom: 0rem;
  }

  // Style input fields
  .form-control {
    border-radius: 0rem;
    border-right: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
    border-bottom: 2px solid $gray;
    border-radius: 0px !important;
    -webkit-appearance: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &:hover {
      border-bottom: 2px solid $dark-gray;
    }

    &:focus,
    &:active {
      border-bottom: 2px solid $secondary;
    }
  }
}

// General form control styling
.form-control {
  border: 1px solid $border;

  &:hover {
    border: 1px solid $gray;
  }

  &:active,
  &:focus {
    border: 1px solid $secondary;
  }
}

// Style the loading circle
.loading {
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;

  .loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: inline-block;
    border-right: 6px solid $light-gray;
    border-bottom: 6px solid $light-gray;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
    -webkit-animation: right 2s infinite linear;

    &.reverse {
      position: absolute;
      transform: translateX(-4rem);
      -webkit-animation: right 1s infinite linear;
    }
  }
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}

// Format styling for picking hours
.time-select {
  display: flex;

  p {
    display: inline-block;
    width: auto;
    margin-bottom: 0rem;
    padding: 0.25rem 0rem;
    line-height: 1;
    transform: translateY(0.25rem);
    min-width: 6rem;
  }

  .form-control {
    flex: 1;
    width: auto;
    margin-left: 1rem;
  }
}

.article-preview {
  color: black;
  margin-bottom: 1rem;

  img {
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
  }

  .title {
    font-weight: bold;
    margin-bottom: 0.25rem !important;
  }

  .subtitle {
    margin-bottom: 0;
    font-size: 1.4rem;
    color: $dark-gray;
  }
}

.tabs {
  width: 100%;
  display: flex;
  border-radius: 0.4rem 0.4rem 0rem 0rem;

  .tab {
    flex: 1;
    color: $gray;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background: $light-gray;
    border-bottom: 1px solid $border;
    font-size: 1.2rem;

    &:hover {
      color: $dark-gray;
    }

    &:first-child {
      border-right: 1px solid $border;
      border-top-left-radius: 0.4rem;
    }

    &:last-child {
      border-left: 1px solid $border;
      border-top-right-radius: 0.4rem;
    }

    &.active {
      background: white;
      border-bottom: 1px solid transparent;
      color: black;
    }
  }
}

.home {
  margin-bottom: 2rem;

  .title {
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
  }
}

.video {
  iframe {
    width: 100%;
    min-height: 60vh;
    max-height: 100vh;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .title {
    font-weight: bold;
  }
}

/**
 * Styling relating to account information
 */
.account.table {
  font-size: 0.8rem;

  .fa {
    color: $gray;
    cursor: hand;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $dark-gray;
    }
  }
}

.popover {
  display: inherit;
  position: absolute;
  top: inherit;
  padding: 0.5rem;
  border: 0px solid transparent;
  box-shadow: 0rem 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
  color: $dark-gray;

  &.right {
    left: inherit;
    right: 3.5rem;
    text-align: left;
    transform: translateY(-2rem);
  }
}

.amenities-form {
  .bold {
    width: 100%;
    color: $gray;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    text-decoration: none;
    cursor: auto;
  }

  p {
    text-decoration: line-through;
    width: 100%;
    color: $gray;
    margin-bottom: 0.2rem;
    cursor: hand;
    cursor: pointer;

    &.active {
      color: $dark-gray;
      text-decoration: none;
    }
  }
}
