/**
 * Color palette for all styles in the application
 */

// Shades of gray
$light-gray: #efefef;
$gray: #BEBEBE;
$dark-gray: #606060;

// Primary colors
$red: #fd5c63;
$dark-red: #ef5158;
$blue: #79cccd;
$dark-blue: #6bb7b9;
$darker-blue: #007d8c;

// Additional colors
$gold: #ffd633;
