/**
 * Color palette for all styles in the application
 */

// Shades of gray
$lighter-gray: #f7f7f7;
$light-gray: #efefef;
$gray: #BEBEBE;
$dark-gray: #606060;
$darker-gray: #4c4c4c;
$border: rgba(0, 0, 0, 0.1);
$gray-text: #888;

// Primary colors
$alternate-light-primary: #3377a1;
$lighter-primary: #d6dde2;
$light-primary: #afdcf8;
$primary: #66ccff;
$dark-primary: #54b0dd;
$secondary: #004976;

// Additional colors
$gold: #ffd633;
