// Color palette for all styles in the application
$light-snow: #f4f9fc;
$snow: #e6ecf0;
$lighter-gray: #c3d1e2;
$light-gray: #a9b9cc;
$gray: #8898aa;
$dark-gray: #5f6e7f;
$pink: #ffaabe;
$dark-pink: #f7a0b5;
$navy: #004789;
$dark-navy: #003363;
