/**
 * Styles for the footer at the bottom of every page
 */
footer {
  .footer-top {
    padding: 1rem 0rem 2rem 0rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background: white;
    color: $dark-gray;

    .footer-nav {
      .link {
        display: block;

        a {
          color: $gray;

          &:hover {
            color: $dark-gray;
          }
        }
      }
    }
  }

  .footer-bottom {
    color: $gray;
    font-size: 0.8rem;
  }
}
