/**
 * Additional styling for forms
 */
.form-control.border {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  padding: 0.75rem;

  &:hover {
    border: 2px solid $gray;
  }

  &:focus,
  &:active {
    border: 2px solid $primary;
  }
}

.btn.border {
  padding: 0.75rem 0rem;
}

.inline-field {
  display: flex;
  margin-bottom: 1rem;

  input {
    flex: 1;
    margin-bottom: 0;
  }

  .btn {
    margin-left: 0.5rem;
    padding: 0rem 1rem;
    line-height: 1;
  }
}
