.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  background: white;
  color: $gray;

  .navbar-brand {
    color: $red !important;
  }

  .nav-link {
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      color: $dark-gray !important;
    }
  }

  .navbar-toggler {
    border: 1px solid transparent;
    outline: 0;
    margin-top: 0.3rem;

    &:focus,
    &:active,
    &:hover {
      outline: 0;

      .icon-bar {
        background: $gray;
      }
    }
  }
}

.icon-bar {
  display: block;
  width: 33px;
  height: 3px;
  border-radius: 1.5px;
  background: $gray !important;
}

.icon-bar.middle-bar {
  transform: translateX(-6px);
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 6px;
}

.navbar-toggler {
  background: transparent !important;
  margin-top: 15px;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  width: 33px;
  transition: all 0.2s;
  background: rgba(255, 255, 255, 0.8);
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  transform: translateX(64px);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  transform: translateX(-6px);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
