.nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  background: white;
  color: $gray;
  padding: 0rem 0.5rem;
  display: flex;

  .logo {
    color: $red !important;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .search {
    padding: 0.6rem 0.5rem;
    width: 24rem;
    max-width: 100% !important;
    display: flex;

    .fa-search {
      color: $gray;
      padding-right: 0.7rem;
      font-size: 1.2rem;
      padding-top: 0.5rem;
      padding-left: 0.2rem;
    }

    .form-control {
      border-radius: 0px;
      border-right: 0px solid transparent !important;
      border-top: 0px solid transparent !important;
      border-left: 0px solid transparent !important;
      border-bottom: 2px solid transparent;
      flex: 1;
      padding-left: 0rem;
      padding-right: 0rem;

      &:hover {
        border-bottom: 2px solid $gray;
      }

      &:focus,
      &:active {
        border-bottom: 2px solid $blue;
      }

      &::-webkit-input-placeholder {
        color: $gray;
      }

      &::-moz-placeholder {
        color: $gray;
      }

      &:-ms-input-placeholder {
        color: $gray;
      }

      &:-moz-placeholder {
        color: $gray;
      }
    }
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;

    .link {
      display: inline-block;
      width: auto;
      padding: 0.9rem 0.6rem;
    }
  }

  .link {
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      color: $dark-gray !important;
    }
  }

  .navbar-toggler {
    border: 1px solid transparent;
    outline: 0;
    margin-top: 0.3rem;

    &:focus,
    &:active,
    &:hover {
      outline: 0;

      .icon-bar {
        background: $gray;
      }
    }
  }
}

.icon-bar {
  display: block;
  width: 33px;
  height: 3px;
  border-radius: 1.5px;
  background: $gray !important;
}

.icon-bar.middle-bar {
  transform: translateX(-6px);
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 6px;
}

.navbar-toggler {
  background: transparent !important;
  margin-top: 15px;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  width: 33px;
  transition: all 0.2s;
  background: rgba(255, 255, 255, 0.8);
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  transform: translateX(64px);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  transform: translateX(-6px);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
